/* page index */

#image1 {
    width: 100%;
}

.navbar-brand {
    margin-left: 5%;
}

.navbar-nav {
    margin-left: 50%;
}

.marge {
    margin-top: 50px;
}


/* page espaceMembres */

#mistake {
    color: red;
}